body {
    width: 960px;
    margin: 0 auto;
}width:150px;
height:150px;
text-align: center;
vertical-align: middle;
line-height: 150px; 
  margin:0 10px 10px 0;
  padding:10px 21px;
  text-transform:uppercase;
  font-family:'Arial';

footer {
    margin-top: 25px;
}

#logo {
    float: left;
}

#logoText {
    float: left;
}

#first-h1 {
    font-family: 'Yellowtail', cursive;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

#bestFood {
    font-size: 8px;
    line-height: 0px;
    margin-left: 5px;
    margin-top: 5px;
}

#id {
    float: left;
}

#social {
    float: right;
}

img:nth-last-child(2) {
    margin-left: 10px;
  }

hrRow {
    margin-top: 50px;
    max-width: 960px;
}

#second-h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}

#date {
    font-size: 8px;
    line-height: 0px;
    margin-left: 5px;
    margin-top: 5px;
}

#chocoPizza {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.recipe {
    text-indent: 2em;
}

#titleDate {
    float: left;
}

#printSection {
    float: right;
    margin-bottom: 0;
    margin-top: 50px;
}

#printer {
    float: right;
}
#print {
    float: right;
    font-size: 8px;
    margin-left: 2px;
    line-height: 0px;
}

.container {
    position: relative;
    text-align: center;
  }

.left {
    font-size: 20px;
    line-height: 40px;
    position: absolute;
    left: 20px;
    top: 0px;
    text-align: left;
}

.right {
    font-size: 20px;
    line-height: 40px;
    float: right;
    position: absolute;
    right: 20px;
    top: 0px;
    text-align: left;
}

.strikeThrough {
    text-decoration: line-through;
}

ul {
    list-style-type: none;
}

#footDiv {

}

#vanessa {
    float: left;
    margin-right: 20px;
}

#share {
    float: right;
}

#vanSt {
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

#vanInfo {
    line-height: 15px;
    margin-left: 5px;
    margin-top: 0px;
}

button {
    float: right;
    width: 150px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
	/* margin:0 10px 10px 0;*/
	padding:10px 21px;
	text-transform:uppercase;
	font-family:'Arial';
}
